<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Хозяева</title>
</head>
<body>
<h2>Список хозяев</h2>
<a th:href="@{/}">На главную </a> <br>
<a th:href="@{/animal}">К питомцам </a> <br>
<a th:href="@{/owner/add}">Добавить </a>
<ol th:each = "el: ${owners}">

  <span th:text = "${el.toString()}"></span>
      <a th:href="@{/owner/edit(ownerID=${el.getOwnerId()})}">Редактировать</a> | <a th:href="@{/owner/remove(ownerId=${el.getOwnerId()})}">Удалить</a>
      <ol th:each = "animal: ${el.getAnimals()}">
          <span th:text = "${animal.getStringAnimal()}"></span>
      </ol>

</ol>
</body>
</html>